[submodule "submodules/yaml-cpp"]
	path = deps/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "submodules/glm"]
	path = deps/glm
	url = https://github.com/g-truc/glm
[submodule "submodules/googletest"]
	path = deps/googletest
	url = https://github.com/google/googletest
[submodule "submodules/loguru"]
	path = deps/loguru
	url = https://github.com/emilk/loguru
[submodule "deps/LuaBridge"]
	path = deps/LuaBridge
	url = https://github.com/vinniefalco/LuaBridge
[submodule "deps/glad"]
	path = deps/glad
	url = https://github.com/Dav1dde/glad.git
[submodule "deps/glfw"]
	path = deps/glfw
	url = https://github.com/glfw/glfw.git
